<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- DataBase 설정 -->
	<!-- DB 프로퍼티 위치를 객체를 다루는 태그 bean으로 명시 -->
	<!-- bean은 프로그램 어디서든 접근할 수 있게 상주하는 부분이다 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- <property name="location"> -->
		<property name="locations">
			<list>
				<!-- classpath:는 src패키지(루트)를 가리킴 -->
				<value>classpath:bit/com/a/properties/jdbc.properties</value>
			</list>			
		</property>
	</bean>

	<!-- DBMS 설정, 위에 설정한 내용을 가져다 쓰는 부분 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		<property name="initialSize" value="${jdbc.initialSize}"/>
		<property name="maxActive" value="${jdbc.maxActive}"/>
		<property name="minIdle" value="${jdbc.initialSize}"/>
		<property name="maxWait" value="3000"/>
		<property name="poolPreparedStatements" value="true"/>
		<property name="maxOpenPreparedStatements" value="50"/>
	</bean>
	
	<!-- MyBatis 프레임웍 세팅 -->	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- ref=""위치에 위에서 설정한 bean이 들어감 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- src.sqls 폴더(패키지) 안에 있는 모든 xml을 매퍼로 등록하겠다는 내용 == 매퍼경로 설정 -->
		<property name="mapperLocations" value="classpath:bit/com/a/sqls/*.xml"/>
	</bean>
	
	<!-- sqlSession 취득 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"/>
		<constructor-arg index="1" value="SIMPLE"/><!-- SIMPLE/BATCH -->
	</bean>
	
	<!-- jdbc -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
</beans>
