@charset "utf-8";

#indexBody {
	background-image: url('../images/EF_PhoneWallpaper_Winter1.jpg');
	background-size: 100%;	
}

#Signin{

}

#SigninTable {
	width: 400px;
	/* border : 1px solid #333333; */
	border-radius: 30px;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 20px #000;
}

#SigninTable th, td {
	padding: 10px;
	height: 10px;
	align-content: center;
	/* border : 1px solid #444444; */
}

#txtInTable {
	padding: 1px;
}

#SigninTable .btnSignin {
	width: 110px;
	height:80px;
}

#SigninTable .btn {
	width: 110px;
	height: 40px;
}

#SignupTable {
	/* color : white; */
	background-color: white;
	left : 10%;
	width: 25%;
	border : 1px solid #333333;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #000;
}

#SignupTable th, td {
	text-align: center;
	width: 20px;
	height: 10px;
	padding-left: 10px;
	padding: 1px;
	align-content: center;
	/* border : 1px solid #444444; */
}

#SignupTable btn {
	margin: 100px;
	padding: 20px;
	width: 70px;
	height: 30px;
}

//
레이어팝업
 #pop {
	width: 300px;
	height: 400px;
	background: #3d3d3d;
	color: #fff;
	position: absolute;
	top: 10px;
	left: 100px;
	text-align: center;
	border: 2px solid #000;
}